@model BigRedTicketExchange.Models.HomeIndexViewModel
@using BigRedTicketExchange.Models
@using Microsoft.AspNet.Identity

@Html.Hidden("GameID", "")
@{

    ViewBag.Title = "Home Page";
    Sport Football = Model.Sports.Where(x => x.Name == "Football").Single();
    Sport Volleyball = Model.Sports.Where(x => x.Name == "Volleyball").Single();
    Sport Basketball = Model.Sports.Where(x => x.Name == "Basketball").Single();
    ApplicationUser AppUser = Model.User;

}

<div style="margin-top:20px;">
    <div class="clearfix container">
        <div id="jumbotron">
            <img src="/Home/Banner.PNG" />
        </div>
    </div>
    <p class="lead">Connect with buyers and sellers in a streamlined student ticket exchange experience!</p>
    @ViewBag.AlertMessage

</div>
<div class="row">
    <div class="col-sm-4 footballDiv">
        
        <a href="#" id="footballbutton"><img id="footballImage" src="/Home/FootballButton.PNG" /></a>

        <div id="fsched" style="display: none;">
            @Html.Partial("~/Views/Sport/_FootballPartial.cshtml", Model)
        </div>
    </div>
    <div class="col-sm-4 basketballDiv">
        <a href="#" id="basketballbutton"><img src="/Home/BasketballButton.PNG" /></a>
        <div id="bsched" style="display: none;">
            @Html.Partial("~/Views/Sport/_BasketballPartial.cshtml", Model)
        </div>
    </div>
    <div class="col-sm-4 volleyballDiv">
        <a href="#" id="volleyballbutton"><img src="/Home/VolleyballButton.PNG" /></a>
        <div id="vsched" style="display: none;">
            @Html.Partial("~/Views/Sport/_VolleyballPartial.cshtml", Model)
        </div>
    </div>
</div>


@if (User.Identity.IsAuthenticated == true)
{
    <script type="text/javascript">
        $(function () {

            $('#footballbutton').click(function () {
                $('#fsched').toggle();
                return false;
            });
            $('#volleyballbutton').click(function () {
                $('#vsched').toggle();
                return false

            });
            $('#basketballbutton').click(function () {
                $('#bsched').toggle();
                return false;

            });
        });
        $(function () {
            $('.fsellticket').click(function () {
                $(userinfomodal).modal('show');
            });
            $('.vsellticket').click(function () {
                $(userinfomodal).modal('show');
            });
            $('.bsellticket').click(function () {
                $(userinfomodal).modal('show');
            });
        });
        $(function () {

        });
    </script>
}
else
{
    <script type="text/javascript">
        $(function () {
            $('#footballbutton').click(function () {
                $('#fsched').toggle();
                return false;

            });
            $('#volleyballbutton').click(function () {
                $('#vsched').toggle();
                return false;
            });
            $('#basketballbutton').click(function () {
                $('#bsched').toggle();
                return false;
            });
        });
        $(function () {
            $('.fsellticket').click(function () {
                window.location.href = "/Account/Login/"
                $(userinfomodal).modal('show');
            });
            $('.vsellticket').click(function () {
                window.location.href = "/Account/Login/"
            });
            $('.bsellticket').click(function () {
                window.location.href = "/Account/Login/"
            });
        });
    </script>
}