@model BigRedTicketExchange.Models.UserTicketViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("PostTicket", "Seller", new { userId = Model.User.Id, gameId = Model.Game.GameID }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.User.FullName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.FullName)
            @Html.ValidationMessageFor(model => model.User.FullName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.User.PhoneNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.PhoneNumber)
            @Html.ValidationMessageFor(model => model.User.PhoneNumber)
        </div>
    </div>
    <input type="submit" class="button" />
}

